services:
  monaco-app:
    extends:
      file: docker-compose.base.yml
      service: monaco-app-base
    networks:
      nginx-pm-net:
      cf-tunnel-net:

networks:
  nginx-pm-net:
    name: nginx-pm-net
    external: true
  cf-tunnel-net:
    name: cf-tunnel-net
    external: true

volumes:
  node_modules:
  dot_next: